{$SERVER_HOST}:{$SERVER_PORT} {
    # Log everything to stdout
    log {
        output stdout
    }

    #  Set server root
    root * {$OUTPUT_PATH}

    # Enable serving static files
    file_server

    # Enable gzip, zstd compression
    encode zstd gzip
}
