http://localhost:8080 {
    # Log everything to stdout
    log {
        output stdout
    }

    #  Set server root
    root * /var/www/html

    # Enable serving static files
    file_server

    # Enable gzip, zstd compression
    encode zstd gzip
}
